@media screen and (max-width:600px)
{
    section{
        flex-direction: column;
      
        
      
    }
   nav > ul.menu{
        flex-direction: column;
   }
   nav > ul.menu > li > a{
       text-align:left !important;
   }
   ul#call p{
       font-size:12px !important;
   }
   nav.point{
       width:100% !important;
      
   }
   nav > ul.menu > li{
       width:100%;
       
   }
 
   ul#call{
       z-index:999 ;
   }
   div.pc{
       width:100% !important;

   }
   div.container{
       margin-left:0;
   }
input.hold{
    font-size:20px !important;
}
div.skill h2, h5{
    font-size:10px;
}
#hanabi{
    width:60% !important;
    height:230px !important;
    margin:10px;
    margin-top:35px !important;
}
#hanabi img{
    width:100% !important;
    height:100%;
}
nav.msi{
    width:100% !important;
    height:300px !important;
}
.carousel-inner img{
    width:100% !important;
    height:250px !important;
}
.carousel-inner{
    margin-top:270px;
}
div.skill{
    margin-top:70px !important;
}
div.yellow img{
    width: 60px !important;
    height:60px !important;
}
div.red{
    
    flex-direction: column;
    width:100% !important;
    
 
   
}
div.cardss{
    width:250px !important;
    height:400px !important;
    margin-top:20px;
    margin-left:90px !important;
 
  
   
   
}
div.sly h2, h3{
    font-size:17px;
}
div.backs h2{
    font-size:30px;
}
div.backs{
    top:100px;
}
div#sunshine{
    top:35px;
}
div.slider{
    width:100% !important;
    margin-left:0px !important;
}
div.card{
    margin:3px !important;
    height:400px !important;
}
div.card img{
    height:200px !important;

}
div.card h3, p{
    font-size:10px;
}
div.btn input{
    padding:5px !important;
    font-size:10px;
}
div#ben{
    margin-top:60px !important;
}
div#zo{
    margin-top:50px !important;
}
div#back{
    margin-top:60px !important;
}
div.btn{
    margin-top:35px !important;
}
div.null {
    width:100% !important;
    height:300px !important;
}
div.fall{
    width:100% !important;
    height:300px !important;
}
div.fall img{
    width:100% !important;
    height:100% !important;
}
div.girl{
    width:100% !important;
    height:100% !important;
}
div.girl p{
    font-size:11px !important;
}
div.girl input{
    font-size:13px !important;
}
div.fat h2{
    font-size:15px !important;
}
div.fat h4{
    font-size:12px !important;
}

div.fat{
   
    margin-left:0 !important;
}
div.luxury{
    width:100% !important;
    
}
div.luxury h3{
    font-size:15px !important;
}
div.luxury h5, p{
    font-size:10px !important;
}
div.gear{
  width:20% !important;
}
div.lency{
  width:37% !important;
}
div.out{
  width:37% !important;
}
div.fx{
    width:45px !important;
    height:45px;
}
div.fx img{
    width:100%;
    height:100%;
    border-radius: 20rem;
}
div.font input{
    font-size:12px;
    
}
div.font {
    margin-left:0px !important;
}

}
body{
  font-family: 'Times New Roman', Times, serif;
}


nav.point{
    width:55%;
}
div.pc{
    width:20%;
    text-align: center;
}
div.pc a{
 padding:10px;
 text-decoration: none;
 color:white;
}
section{
    display:flex;
    flex-wrap:wrap;
   align-items: center;
    background-color: black;
    border-bottom:3px solid blue;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    transition:0.5s all ease-in-out;
    z-index:999;
}

nav > ul.menu{
    display:flex;
    list-style-type: none;
    justify-content: center;
    position: relative;
   
 
 

}

ul.menu > li > a{
    display:block;
    
}
nav > ul.menu > li > a{
    text-align:center;
}

ul.menu > li {
    width:200px;
 
    position: relative;

}
ul#call > li{
    width:250px;
   
}
ul{
    padding:0;
    margin:0;
}
nav > ul.menu > li > a{
    display:block;
  
    padding:20px;
    text-decoration: none;
   animation: mauchu 2s infinite;
}




ul.menu a:after{
    content: "";
    width:0px;
    height:2px;
    background-color: gold;
    position: absolute;
    bottom:0;
    left:0;
   transition: transform ease-in 1s;
   transition: width 1.2s;
}
ul.menu a:hover:after{
    width:50%;
    transform: translateX(100%);
}

ul#call > li > a{
    padding-top:3px;
    padding-bottom:3px;
}
ul.menu {
    list-style-type: none;
    padding:0;
    margin:0;
   display:none;
    
}
ul.menu > li {
    width:150px;
    color:white;
  
  
  

    
}

ul.menu > li > a{
    display:block;
    text-decoration: none;
    font-size: 16px;
    color:white;
}

nav > ul.menu  > li:hover ul.menu{
display: block;
   position: absolute;

}
nav > ul.menu > li >ul.menu{
    background-color: black;
}


@keyframes mauchu{
    30%{
        text-shadow: 7px 5px 4px gold;

    }
    60%{
        text-shadow: 7px 5px 4px greenyellow;

    }
    90%{
        text-shadow: 7px  5px 4px cyan;
    }
}


section.sticky{
   background-color: white;
    border-bottom: 3px solid black;
  
    opacity:0.9;
    padding:15px 0px;
    box-shadow:0px 5px 15px rgba(0, 0, 0, 0.5);
}

section.sticky ul#call {
    background-color: white;
}
section.sticky ul.menu > li > a{
    color: black;
}
section.sticky div.pc > h2 > a{
    color:black;
}

div.skill{
    width:50%;
    text-align: center;
   color: seashell;
   margin-top:100px;
}
figure#hanabi{
    width:40%;
    border: 3px solid beige;
 
    height:380px;
    margin-top:30px;
    margin-left:35px;
   
   
}
figure#hanabi img{
    width:100%;
    height:374px;
 
}

nav.msi{
    display: flex;
    height:450px;
    background-color: black;
    width:100%;

   
    
}





h1.gold {
    text-align: center;
    font-weight: bold;
}
div.yellow > img {
    width:10%;
    height:100px;


}
div.yellow{
    text-align: center;
}
div.red > div{
    width:400px;
    margin-left:20px;
    overflow: hidden;
    
}

div.red{
    display:flex ;
    flex-wrap: wrap;
    width:90%;
    margin-left:100px;
  
   
 
   
}
div.cardss{
  position: relative;
  width:100%;
  height:600px;

 

 
}
div.front{
width:100%;
  height:100%;
  border:3px double black;
}
div.front img{
  width:100%;
  height:100%;
}
div.front{
  margin:0px auto;
  transform: perspective(600px) rotateY(0deg);
  position: absolute;
}
div.sly{
    position: absolute;
    top:50px;
    left:10px;
}
div.sly  > h3 {
    color:#FFFFCC;
}
div.sly h3{
    margin-top:20px;
}
div.sly h2{
    color:#FFFFCC;
}

.back{
  position: absolute;
 width:100%;
 height:100%;
background-image: url(https://i.pinimg.com/564x/8f/4d/45/8f4d45e20f9bbdf91e5a87098339b770.jpg);
 top:0;
 left:0;
 transform: perspective(600px) rotateY(180deg);
 text-align: center;
 border:4px double black;


}
.backs{
  position: absolute;
  top:220px;
  left:15px;
  
  
 


}
#sunshine{
  position: absolute;
  top:130px;
}

.front, .back{
  overflow: hidden;
  backface-visibility: hidden;
  transition: transform .6s linear;

}
.cardss:hover > .front{
transform: perspective(600px) rotateY(-180deg);

}
.cardss:hover > .back{
transform: perspective(600px) rotateY(0deg);
}
.sm{
  margin:20px 0;
}
.sm a{
  display:inline-flex;
  width:40px;
  height:40px;
  justify-content: center;
  align-items: center;
  color:#2c3e50;
  font-size:18px;
  text-decoration: none;

  transition: 0.6s infinite;
  border-radius: 20rem;
}
.sm a:hover{
  background-color: #2c3e50;
  color:white;
}
.backs h2{
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 900;
  color: #2c3e5036;
  background-image: url(https://icdn.dantri.com.vn/thumb_w/660/2021/08/23/mauvutrudocx-1629683185507.jpeg);
  -webkit-background-clip: text;
  animation: water 4s infinite;

}
@keyframes water{
 from{
    background-image: url(https://icdn.dantri.com.vn/thumb_w/660/2021/08/23/mauvutrudocx-1629683185507.jpeg);
 }
 to{
    background-image: url(https://bigdata-vn.com/wp-content/uploads/2021/10/1634698293_771_Hinh-anh-Galaxy-dep-huyen-ao-chat-luong-cao-HD.jpg);
 }
}



div.null {
    position: relative;
}

div.fall > img {
    width:100%;
    height:400px;
    
  
   
}

div.null:hover div.girl{
    transform: translateX(100%);

}
div.girl{
    background-color: rgba(0, 0, 0, 0.3);
    width:50%;
    text-align: center;
    transition: transform ease-in 0.7s;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    height:400px;

}
div.girl > p{
    margin-top:120px;
    color: rgb(197, 197, 193);
    font-size: 18px;
   
}
input[type=button]
{
    background-color: blanchedalmond;
    border-radius: 6px;
    cursor:pointer;
   
}








div.fat{
 width:100%;
 display:flex;
 flex-wrap:wrap;
 justify-content: center;
 margin:30px;

}
div.fat > div{
 width:22%;
 text-align:center;
}
div.fat > div > h4 > a{
 text-decoration: none;
 font-size: 20px;
 color: black;
}
div.fat h2{
 font-weight: bold;
}
div.fox {
position: fixed;
right:10px;
bottom:60px;
z-index:999;

 
}
div.luxury{
 width:100%;
 display:flex;
 flex-wrap:wrap;
 background-color: black;
 color: blanchedalmond;
 align-items: center;

 height:200px;
font-family: 'Times New Roman', Times, serif;
}


div.luxury > div
{
width:33%;
text-align: center;

}
div.font{
display:flex;
margin-left:120px;
}
div.out h5 {

margin-bottom:0px;

}
div.out p{
margin-top:0px;
margin-bottom:0px;
}
div.out intput{
margin-top:0px;
}
div.zes > div{
width:10%;
margin:5px;
}
div.zes img{
width:100%;
transition: transform 0.5s ease-in-out;
}
div.zes{
display:flex;
justify-content: center;
}
div.fx img:hover{
transform: rotate(360deg);
}
nav.dragon img{
width:50%;
height:500px;

}
div.carousel-inner div{
margin-top:65px;
}

div.slider{
    display:flex;
    max-width:1150px;
    margin-left:140px;

}
div.card img{
    width:100%;
    height:300px;
  
}
div.card{
    text-align: center;
    margin:10px;
    background-color: #fff;
    border:2px solid beige;
  
    height:550px;
}
div.btn input{
padding:10px 30px;
 background-color: #f2f2f2;
 border-radius: 10px;
 cursor:pointer;
 transition: all 1s;


}
div.btn input:hover{
    background-color: black;
 color:#f2f2f2;
}
div#ben{
    margin-top:20px;
}
div#back{
    margin-top:50px;

}
div#zo{
    margin-top:20px;
}
.pops{
    margin-top:30px;
}
.banana{
    text-align: center;
    text-shadow: 3px 5px 3px beige;
    padding:20px 0;
   
    font-weight: bold;
    margin-bottom:0px;
  
}
div.space{
    text-align: center;
   
}
div.space img{
    width:20%;
    height:150px;
}
#gototop{
position: fixed;


z-index: 999;

}
.container{
    width:50px;
    height:50px;
    border-radius:50px;
    background-color: yellow;
    display:flex;
  justify-content: center;
    align-items: center;
    transition: 1s ease-in-out;
    cursor: pointer;
    margin:0px auto;
   
}
input.hold{
    width:0;
    border: none;
    background-color: transparent;
    font-size: 40px;
    height:54%;
    flex-grow:1;
    transition: 1s ease-in-out;

}
input.hold:focus{
    outline: none;
}
span{
    display: inline-flex;
    width:65px;
    height:40px;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}
.container:hover{
    width:240px;
}
.container:hover input{
    margin-left:50px;
}
div.girl input:hover{
    transform:translateY(-3px);
}
div.girl input{
    transition: 0.1s ease-in;
}
a#gototop img{
    width:60px;
    height: 60px;
    border-radius:200px;
}
div.fox {
margin-bottom:20px;
margin-left:15px;
}
div.fox div{
    margin:10px;
}

a.aucostic{
   width:48px;
   height:48px;
   border-radius: 20rem;
   display: block;
   position: relative;
}
a.aucostic img{
   width:100%;
   height:100%;
}

.aucostic:after{
   content:"";
   position: absolute;
   display: inline-block;
   width:100%;
   height:100%;
   border:3px;
   border-radius: 20rem;
   top:0;
   left:0;
   z-index:-2;
 
}
.aucostic:before{
content:"";
   position: absolute;
   display: inline-block;
   width:100%;
   height:100%;
   border:3px;
   border-radius: 20rem;
   top:0;
   left:0;
   z-index:-1;
   background-color: #0000FF;
   animation: hieuung1 1s infinite;
 
}
@keyframes hieuung{
   to{
       transform: scale(1.4);
   }
   from{
    transform: scale(1.6);
   }
}
.aucostic:after{
   animation: hieuung 1s infinite;
   background:linear-gradient(#33ccff, #ff0066);

}
@keyframes hieuung1{
   to{
    transform: scale(1.45);
    opacity: 0;
   }

}
